<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Cards list</title>
</head>
<body>

<h2>Current card list</h2>

<table>
    <thead>
    <th>Id</th>
    <th>Name</th>
    </thead>
    <tbody>
    <tr th:each ="card : ${cards}">
        <td><span th:text ="${card.id}">id</span></td>
        <td><span th:text ="${card.name}">name</span></td>

        <td>
            <form th:action="@{/editCard/{id}(id=${card.id})}" th:object="${card}">
                <input type="hidden" field="${card}">
                <input type="submit" value="Edit">
            </form>
        </td>

    </tr>
    </tbody>
</table>

<br/>
<form action="/">
    <input type="submit" value="Go to start page">
</form>
<br/>
<form action="/addCard">
    <input type="submit" name="Go to adding cards page">
</form>



</body>
</html>